$font-main: Lato;

$theme-colors: (
  "primary":    #629fd1,
  "secondary":  #3c434d,
  "success":    $success,
  "info":       #b1cfe8,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "light-blue": #80909c
);

$card-border-width: 0;

$border-radius: 0.5rem;

$h1-font-size: $font-size-base * 2.75;
$h4-font-size: $font-size-base * 1.55;
$h5-font-size: $font-size-base * 1.31;
$h6-font-size: $font-size-base * 1.125;
$border-width: 2px;
$input-btn-border-width: 2px;

$btn-border-width: 2px;
$btn-padding-y: 1.125rem;
$btn-padding-x: 4.25rem;
$btn-padding-y-lg: 1.125rem;
$btn-padding-x-lg: 4.25rem;
$font-size-lg: 1.125rem;

$input-bg: rgba($white, 0.3);
$input-border-width: 2px;
$input-border-color: $white;
$input-color: $white;
$input-placeholder-color: $white;
$input-padding-y: 0.7rem;
$input-padding-x: 1.125rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2.625),
  6: ($spacer * 2.875),
  7: ($spacer * 3.5),
  8: ($spacer * 4.5)
);

$container-max-widths: (
  sm: 800px,
  md: 900px,
  lg: 960px,
  xl: 1080px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 992px,
  xl: 1100px
);

.lh-165 {
  line-height: 1.65 !important;
}

.fz-1-25 {
  font-size: 1.25rem !important;
}
