@charset 'utf-8';

@import './bootstrap/index';
@import 'components/header';
@import 'components/after-header';
@import 'components/whatwedo';
@import 'components/howwework';
@import 'components/customer-orders';
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import 'components/price-list';
@import 'components/question-people';

@import 'components/footer';
@import 'components/specialist';
@import 'components/orders';
@import 'components/main-robot';

@import 'components/index/header';
@import 'components/garant';
@import 'components/benefit';


@import 'components/cat/feedback';
@import 'components/cat/video-call';
@import 'components/cat/cat-form';
@import 'components/cat/card';
@import 'components/cat/firms';

@import 'components/cat/podcat/repairing';
@import 'components/cat/podcat/manufacturer';

@import 'components/product/product-garant';
@import 'components/product/benefit-product';
@import 'components/product/header-product';
@import 'components/product/price-list';

@import 'components/project/project-header';


@import 'components/qestion/qestion';


@import 'components/specialists/specialists-header';

@import 'components/reviews/reviews-feedback';


@import 'components/contacts/contacts-header';



@import 'components/modal';


@import 'components/modal-form';
























body {
    font-family: $font-main, sans-serif;
}

$font-path: "../fonts";

@font-face {
    font-family: Lato;
    src: url('#{$font-path}/lato-bold-webfont.eot');
    src: url('#{$font-path}/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/lato-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: Lato;
    src: url('#{$font-path}/lato-regular-webfont.eot');
    src: url('#{$font-path}/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/lato-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}