.active.show.nav-link {
    background: none;
    border-bottom: 2px solid #629fd1;
    border-radius: 0;
    color: black;
}

.nav-link{
	color: #80909c;
}

.nav-pills{
	border-bottom: 1px solid #e7eef3;
}

.btnbenefit{
	@media screen and (max-width: 850px){
		display: none;
	}
}