.manufacturer {
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__title {
        color: #3c434d;
        font-family: $font-main;
        font-size: 44px;
        font-weight: 700;
        padding-top: 50px;
        margin-bottom: 60px;
    }

    .myCol {
        width: calc(100% / 5);
        margin-bottom: 20px;

        @media screen and (max-width: 1100px) {
            width: calc(100% / 3);
        }
    }

}

.caption{
    
    margin-top: 15px;
}