.repairing {
    background-color: #e8f0f8;
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__title {
        color: #3c434d;
        font-family: $font-main;
        font-size: 44px;
        font-weight: 700;
        padding-top: 90px;
        margin-bottom: 27px;
    }

    .myCol {
        width: calc(100% / 4);
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}){
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: 1100px) {
            width: calc(100% / 3);
        }
        @media screen and (max-width: 600px) {
            width: 100%;
       }
    }


}


.cardimg{
    position: absolute;
    top: -25px;
    left: calc( 50% - 25px);
}

.fact{
    color: #80909c;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 10px;
   
}