.btn-border{
	border-radius: 6px;
}

.rounded-left-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.my-10{
	padding-top: 8.5rem;
	padding-bottom: 8.5rem;
}

.squaredFour {
	position: relative;
	padding: 0;

	& > .form-check-input {
		display: none;
	}

	input[type=checkbox] + label {
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 1px;
		border-radius: 4px;
		box-shadow: inset 0px 0 0px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
		background: rgba($white, 0.3);
		transition: all 200ms ease-out;

		&:after {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			content: '';
			position: absolute;
			width: 9px;
			height: 5px;
			background: transparent;
			top: 6px;
			left: 6px;
			border: 3px solid #3c434c;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
		}
	}

	.form-check-label {
		padding-left: 2rem;
		position: relative;
		z-index: 2;

		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		@media screen and (min-width: 850px) {
			input[type=checkbox] + label::after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
				filter: alpha(opacity=30);
				opacity: 0.3;
			}

			input[type=checkbox] + label {
				background-color: $white;
			}	
		}
	}

	input[type=checkbox]:checked + label:after {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
	}

	input[type=checkbox]:checked + label {
		background-color: $white;
	}
}


.opeshite{
	padding-top: 20px;
}

.contact{
	color: #80909c;
	font-size: 14px;
    font-weight: 400;
}

.bodyali{
	text-align: center;
}

.padbot1{
	padding-bottom: 1rem;
}

.padbot2{
	padding-bottom: 2rem;
}

.texali{
	text-align: center;
}

.mapsmob{
	    display: flex;
    justify-content: center;
}

.btame{
	    padding: 0.5rem;
	width: 283px;
height: 52px;
border-radius: 7px;
}