.after-header {

    .quality{
       @media screen and (max-width: 992px) {
            flex-direction: column;
       }
    }

    .row {
        & > * {
            &:nth-of-type(2) {
                span {
                    right: -0.4em;
                }
            }
            &:nth-of-type(3) {
                span {
                    right: -0.6em;
                }
            }
        }
    }

    &__img {
        position: relative;

        span {
            color: #d8e2ed;
            font-family: $font-main;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.1;
            top: -0.95em;
            right: -1.6em;
        }
    }

    &__text {
        color: #ffffff;
        font-family: $font-main;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.52px;

        @media screen and (max-width: 992px){
            margin-top: 1rem;
        }
        
        @media screen and (max-width: 750px){
            font-size: 12px;
            text-align: center !important;

            br {
                display: none;
            }
        }
    }

    .imghead{
        @media screen and (max-width: 750px){
            height: 51px;
        }
    } 


}

