.orders{
	background-position: center;
	background-size: 2500px auto;
	background-repeat: no-repeat;
	background-color: #d8e2ec;
}

.customer {
    padding: 13px 24px 10px 20px;

    &::after {
        content: '';
        position: absolute;
        border: 15px solid transparent;
        border-left: 25px solid #629fd1;
        border-top: 10px solid #629fd1;
        z-index: 1;
        -ms-transform: rotate(45deg);
        bottom: -20px;
        left: 0;
    }
}
