.bg-seotext{
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #d8e3ec;
	padding: 55px 56px 16px;

	&__title {
		font-size: 2.75rem;
		line-height: 1.5;
		font-weight: 700;
		color: #3c434c;
		text-align: center;
		margin-bottom: 42px;
	}

	&__content {
	    color: #3c434d;
		text-align: justify;
		margin-bottom: 3.5rem;
		font-size: 1.125rem;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.65;
	}
}

.bg-number{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 61px;
	padding-bottom: 85px;

	.h1 {
		letter-spacing: -0.5px;
	}

	&-phone {
		font-size: 3.25rem;
		background-color: rgba($black, 0.5);
		padding: 0.2rem 2.5rem;
		color: $white;
		display: inline-block;
		
		&:hover {
			color: white;
		}
	}
}

.fast-footer{
	border-top: 1px solid #464c55;
}

.footer {
	padding-top: 46px;

	&__logo {
		margin-bottom: 36px;
	}

	.telephone{
		height: 29px;
		margin-left: 25px;
		margin-right: 20px;
	}

	.telenumber{
		color: #80909c;
		font-size: 18px;

		&:hover {
			color: #80909c;
		}
	}
}