.main-robot {
        background-image: url(../assets/img/garant-bg.png);
    background-size: 1387px auto;
    background-position: calc(50% + 7rem) center;
    background-repeat: no-repeat;

	padding-top: 4.5rem;
	padding-bottom: 5rem;


}

.titlepod{
     font-size: 18px;
    color: #80909c;
}
