.howwework {
    background-size: cover;
    padding-top: 62px;
    padding-bottom: 75px;

    &__title {
        font-family: $font-main;
        font-size: 44px;
        font-weight: 700;
        line-height: 39.64px;
        margin-bottom: 95px;
    }

    &__fix-list {
        padding-bottom: 0;
        counter-reset: howweworkSteps;
        .myCol {
            position: relative;
            margin-bottom: 0 !important;
            
            &:after {
                color: white;
                content: counter(howweworkSteps);
                counter-increment: howweworkSteps; 
                position: absolute;
                top: -1.3em;
                right: 1.8em;
                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, 0.3);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(md) {
                    font-size: 12px;
                    width: 30px;
                    height: 30px;
                }
            }

            p.two-string {
                margin-bottom: 22px;
            }

            .tel {
                width: 47px !important;
                height: 82px !important;

                @include media-breakpoint-down(md) {
                    width: 35.5px !important;
                    height: 62px !important;
                    margin-bottom: 1.75rem !important;
                }
            }

            .place {
                width: 56px !important;
                height: 80px !important;

                @include media-breakpoint-down(md) {
                    width: 42px !important;
                    height: 60.5px !important;
                    margin-bottom: 1.75rem !important;
                }
            }
            
            .calc {
                width: 62px !important;
                height: 79px !important;

                @include media-breakpoint-down(md) {
                    width: 47px !important;
                    height: 61.5px !important;
                    margin-bottom: 1.75rem !important;
                }
            }
            
            .fix {
                width: 72px !important;
                height: 72px !important;

                @include media-breakpoint-down(md) {
                    width: 44.5px !important;
                    height: 44.5px !important;
                    margin-bottom: 1.75rem !important;
                }
            }
            
            .v {
                width: 62px !important;
                height: 64px !important;

                @include media-breakpoint-down(md) {
                    width: 47px !important;
                    height: 48.5px !important;
                    margin-bottom: 1.75rem !important;
                }
            }
        }
    }
}