.main-robot {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;

    .media {
        p {
            color: #3c434d;
            font-family: $font-main;
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}