.formmodalka{
	
	height: 50px;

.form-control {
	height: 100%;
border-radius: 5px;
border: 2px solid #629fd1;
background-color: #eef3fb;
line-height: 1;
color: map-get($theme-colors, light-blue);

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: map-get($theme-colors, light-blue);
}
&::-moz-placeholder { /* Firefox 19+ */
  color: map-get($theme-colors, light-blue);
}
&:-ms-input-placeholder { /* IE 10+ */
  color: map-get($theme-colors, light-blue);
}
&:-moz-placeholder { /* Firefox 18- */
  color: map-get($theme-colors, light-blue);
}

}
}



.titlemodal{
	font-size: 30px;
}

.modalcol{
	background-color: #629fd1;
	color: white


}