.orders {
	padding-top: 52px;
	padding-bottom: 20px;

	.swiper-container {
		height: 680px;
		width: 88%;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.swiper-slide-prev, .swiper-slide-duplicate-active {
		opacity: 0;
		transition: opacity 200ms ease-out;
	}

	.swiper-button-next {
		top: 0;
		margin: 0;
		transform: rotate(-90deg);
		left: calc(50% - 25px);
		border-radius: 100%;
		border: 1px solid #629fd1;
		width: 50px;
		height: 50px;
		background-size: auto 50%;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23629fd1'%2F%3E%3C%2Fsvg%3E");
	}

	.swiper-button-prev {
		top: calc(100% - 70px);
		margin: 0;
		transform: rotate(-90deg);
		left: calc(50% - 25px);
		border-radius: 100%;
		border: 1px solid #629fd1;
		width: 50px;
		height: 50px;
		background-size: auto 50%;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23629fd1'%2F%3E%3C%2Fsvg%3E");
	}
}