.price-list{
	background-size: 85% auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #629fd1;
	padding-top: 53px;
	padding-bottom: 85px;

	&__title {
		font-size: 44px;
		line-height: 1.3;
		margin-bottom: 60px;
		text-align: center;
		color: $white;
	}

	&-table {
		width: calc(100% - 4rem);
		margin: 0 0 1.6rem 2.2rem;

		td {
			padding: 0;
			padding-bottom: 11px;
			font-size: 18px;
			letter-spacing: -0.6px;
			line-height: 1.35;
			text-align: left;
		}
	}

	&-price-btn{
		border-color: #dbe4eb;
		margin-top: 13px;
		color: #629fd1;
		font-family: $font-main;
		font-size: 18px;
		font-weight: 500;
		line-height: 36px;
		padding: 11px 47px;

		&:hover {
			border-color: #629fd1;
		}
	}

	.card {
		&-title {
			font-size: 24px;
			font-weight: bold;
			margin-top: 25px;
			margin-bottom: 24px;
		}
	}
}
