.question{
	background-position: center;
	background-size: 2500px auto;
    background-repeat: no-repeat;
    padding: 55px 16px 83px  16px;

    &__title {
        margin-bottom: 8px;
        padding-bottom: 16px;
        padding-right: 0;
        padding-left: 0;
    }

    .swiper-container {
        height: 720px;
        width: 100%;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .swiper-slide-prev, .swiper-slide-duplicate-prev {
        opacity: 0;
        transition: opacity 200ms ease-out;
    }

    .swiper-button-next {
        top: 0;
        margin: 0;
        transform: rotate(-90deg);
        left: calc(50% - 25px);
        border-radius: 100%;
        border: 1px solid #ffffff;
        width: 50px;
        height: 50px;
        background-size: auto 50%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }

    .swiper-button-prev {
        top: calc(100% - 70px);
        margin: 0;
        transform: rotate(-90deg);
        left: calc(50% - 25px);
        border-radius: 100%;
        border: 1px solid #ffffff;
        width: 50px;
        height: 50px;
        background-size: auto 50%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    }
}

.issues{
	
	background: #d8e2ed;
	

}

.issues::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-left: 25px solid #d8e2ed;
    border-top: 10px solid #d8e2ed;
    z-index: 1;
    -ms-transform: rotate(45deg);
    bottom: -20px;
    left: 0;
}

.answer{
	position: relative;
	top: -15px;
	padding-left: 10px;
	background: white;
}

.answer::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-right: 25px solid white;
    border-top: 10px solid white;
    z-index: 1;
    -ms-transform: rotate(45deg);
    bottom: -20px;
    right: 0;
}
.row {
    position: relative;
}

.button-wrap {
    position: absolute;
    bottom: 18px;
    left: 0;
    z-index: 9999;

    .btn-question{
        border: 2px solid white;
        border-radius: 4px;
        // width: 170px;
        // height: 60px;
        // background-color: transparent;
        cursor: pointer;
        width: 203px;
        height: 52px;
        padding: 0;
        line-height: 48px;
        font-size: 18px;
        color: white;

        &:hover {
            background-color: #fff;
            color: $primary;
        }
    }
}