.whatwedo {
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__title {
        color: #3c434d;
        font-family: $font-main;
        font-size: 44px;
        font-weight: 700;
        padding-top: 90px;
        margin-bottom: 27px;
    }

    .myCol {
        width: calc(100% / 5);
        @for $i from 1 through 5 {
            &:nth-of-type(#{$i}){
                margin-bottom: 86px;
            }
        }
    }

    &__subtitle {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 53px;
    }

    &__fix-list {
        padding-bottom: 80px;

        .myCol {
            &:nth-of-type(1) {
                img {
                    width: 72px;
                    height: 90px;
                }
            }
            &:nth-of-type(2) {
                img {
                    width: 75px;
                    height: 126px;
                }
            }
            &:nth-of-type(3) {
                img {
                    width: 98px;
                    height: 67px;
                }
            }
            &:nth-of-type(4) {
                img {
                    width: 79px;
                    height: 81px;
                }
            }
            &:nth-of-type(5) {
                img {
                    width: 81px;
                    height: 81px;
                }
            }
            &:nth-of-type(6) {
                img {
                    width: 74px;
                    height: 91px;
                }
            }
            &:nth-of-type(7) {
                img {
                    width: 76px;
                    height: 92px;
                }
            }
            &:nth-of-type(8) {
                img {
                    width: 89px;
                    height: 91px;
                }
            }
            &:nth-of-type(9) {
                img {
                    width: 71px;
                    height: 105px;
                }
            }
            &:nth-of-type(10) {
                img {
                    width: 100px;
                    height: 88px;
                }
            }

        }

        p {
            color: #3c434d;
            font-family: $font-main;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            // flex: 0 0 100%;
            margin-bottom: 0;

            &.one-string {
                line-height: 4;
            }
        }
    }

    &:not(.howwework) .whatwedo__fix-list p {
        height: 48px;
    }

    &.howwework .whatwedo__fix-list p {
        height: 72px;

        @include media-breakpoint-down(lg) {
            br {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            font-size: 14px;
            line-height: 1.33;
        }
    }
}