.header {
	position: relative;

	& * {
		z-index: 3;
	}

	&:before {
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.28);
	}

	&--product {

		.form-row {

			.form-control {
				border-color: #629fd1;
				background-color: white;
				color: $black;
				
				&::placeholder {
					color: #b2c1cc;
				}
			}

			button[type="submit"] {
				margin-bottom: 27px;
			}
		}

		&::before {
			display: none;
		}
	}

	.topBanner {
		padding-top: 22px;
		padding-bottom: 17px;

		&__logo {
			padding: 0;

			img {
				margin-left: 2px;
			}
		}

		&__city {
			text-align: center;

			p:first-child {
				margin-top: 12px;
				margin-right: 4px;
			}

			p:last-child {
				margin-right: 5px;
				margin-top: -1px;
			}
		}

		&__icon {
			&--images {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 15px;
			}
		}

		.btn {
			padding: 11px 56.5px;
			margin-top: 7px;
			font-weight: 600;
		}
	}

	.info {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 0;
		padding-right: 0;

		&__title {
			font-weight: bold;
			font-size: 30px;
			margin-bottom: 35px;
			line-height: 1.2;
		}

		&__list {
			padding-right: 0px;

			li {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			img {
				margin-bottom: 13px;
				margin-right: 23px;
				align-self: center;
				width: 48px;
				height: auto;
			}

			p {
				line-height: 1.45;
				margin-bottom: 0;
			}
		}

		&__form {
			margin-top: 43px;
			padding-left: 100px;

			@include media-breakpoint-down(md) {
				padding-left: 20px;
			}

			&--title {
				font-size: 17px;
				letter-spacing: -0.2px;
				margin-bottom: 22px;
			}

			form {
				.col {
					&:first-child {
						margin-right: 9px;
						margin-bottom: 23px;
					}

					&:nth-of-type(2) {
						margin-left: 9px;
						margin-bottom: 23px;
					}
				}

				textarea {
					margin-bottom: 26px;
				}

				button[type="submit"] {
					font-weight: 600;
					font-size: 16px;
					padding-top: 0.65rem;
					padding-bottom: 0.65rem;
					margin-bottom: 24px;
				}
			}
		}
	}
}