.imgmobile{
	height: 120px !important;
	width: 120px !important;
}

.titleamed{
	font-size: 14px;
font-weight: 700;
line-height: 25.24px;
}

.textamed{
	font-size: 12px;
font-weight: 400;
line-height: 18px;
	}

.btnamed{
	width: 120px;
height: 43px;
padding: 0.5rem !important;
}
