<div class="jumbotron">
    <h1 class="display-4">Верстка проекта "На совесть"</h1>
    <p class="lead">Сверстанные и проверенные страницы</p>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/main">Главная</a></li>
        <li class="list-group-item"><a href="/cat">Страница категории</a></li>
        <li class="list-group-item"><a href="/cat/podcat">Страница подкатегории</a></li>
        <li class="list-group-item"><a href="/product">Страница товара</a></li>
        <li class="list-group-item"><a href="/guarantees">Гарантии</a></li>
        <li class="list-group-item"><a href="/reviews">Отзывы</a></li>
        <li class="list-group-item"><a href="/project">О проекте</a></li>
        <li class="list-group-item"><a href="/question">Вопросы и ответы</a></li>
        <li class="list-group-item"><a href="/specialists">Специалисты</a></li>
        <li class="list-group-item"><a href="/contacts">Контакты</a></li>
    </ul>
    <p class="lead pt-2">На проверку</p>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
    </ul>
</div>
<style>
body {
background: #e8f0f8;
}
</style>