.card {

    &__avatar {

    }

    &__fio {
        font-family: $font-main;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    &__position {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #abbcc8;
    }

    &__opisanie {
        font-family: $font-main;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    &__social {
        display: block;
        margin: auto auto 0 auto;
    }
}