.cat-form {
	padding: 90px 1rem;
	background-color: #e8f0f8;
	background-image: url('/assets/img/cat-form-bg.png');
	background-position: center;
	background-size: 1483px auto;
	background-repeat: no-repeat;

	&__form {
		form .form-control {
			border-color: #629fd1;
			background-color: white;
			
			&::placeholder {
				color: #b2c1cc;
			}
		}

		form button[type="submit"] {
			margin-bottom: 27px;
		}
	}

	&__title {
		color: #3c434d;
		font-size: 21px;
		line-height: 1.5;
		letter-spacing: -0.4px;
		margin-bottom: 21px;
	}

	&__input {
		margin-bottom: 27px;

		

		select:not([size]):not([multiple]) {
			height: 50px;
			color: #3c434d;
		}

		select:focus::-ms-value {
			color: #3c434d;
			background-color: $input-bg;
		}
	}

	&__area {
		margin-bottom: 25px;
	}
}