.feedback {
    background-color: $gray-200;
    padding: 70px 0;
    border-bottom: 5px solid white;

    &__title {
        font-family: $font-main;
        font-size: 48px;
        font-weight: 700;
        line-height: 36px;
    }

    &__card {
        box-shadow: 1px 2px 4px #d7dfe8;
        border-radius: 0;
        transition: all 0.3s ease-in;

        &:hover {
            box-shadow: 0px 13px 13px #d7dfe8;
        }
        
        .vk {
            background-image: url(/assets/img/svg/vk_icon.svg);
            width: 24px;
            height: 14px;
        }

        .twitter {
            background-image: url(/assets/img/svg/tw_icon.svg);
            width: 26px;
            height: 18px;
        }

        .fb {
            background-image: url(/assets/img/svg/fb_icon.svg);
            width: 10px;
            height: 21px;
        }
    }

    &__add {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #dbe4eb;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        bottom: 0;
        background-color: transparent;
        cursor: pointer;

        &:after, &:before {
            content: "";
            position: absolute;
            width: 2px;
            height: 18px;
            background-color: #80909c;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: transform 0.3s ease-in;
        }

        &:after {
            transform: translateX(-50%) translateY(-50%) rotate(90deg)
        }

        &:before {
            transform: translateX(-50%) translateY(-50%) rotate(0deg)
        }

        &:hover {
            &:before {
                transform: translateY(-50%) translateX(-50%) rotate(360deg);
            }
            &:after {
                transform: translateY(-50%) translateX(-50%) rotate(270deg);
            }
        }
    }
}