.firms {
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__title {
        color: #3c434d;
        font-family: $font-main;
        font-size: 44px;
        font-weight: 700;
        padding-top: 90px;
        margin-bottom: 27px;
    }

    .myCol {
        width: calc(100% / 5);
        @for $i from 1 through 5 {
            &:nth-of-type(#{$i}){
                margin-bottom: 20px;
            }
        }
    }

}