.video-call {
    background-color: $gray-200;
    padding: 70px 0;

    &__title {
        font-family: $font-main;
        font-size: 48px;
        font-weight: 700;
        line-height: 36px;
    }

    &__card {
        background-color: $gray-200;
        .card-body {
            border: 1px solid transparent;
            transition: all 0.3s ease-in;
            
            &:hover {
                box-shadow: 0px 5px 16px 0px #c2d5e4;
                // border-color: gray;
            }
        }

    }
    
    .card__avatar {
        top: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__img {
        position: relative;
        cursor: pointer;
        margin-bottom: 50px;
        
        &:after {
            content: "";
            width: 70px;
            height: 70px;
            background-color: #629fd1;
            border-radius: 50%;
            background-image: url('/assets/img/svg/play.svg');
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.video-bg{
    background-size: contain;
    max-width: 100%;
}