<div class="bg-primary after-header">
    <div class="container">
        <div class="row py-2">
            <div class="col-4 text-center py-4 d-flex align-items-center justify-content-start quality">
                <div class="after-header__img mr-lg-4">
                    <img data-src="{{ root }}assets/img/clock-2.png" src="{{ root }}assets/img/minimg/clock-2.png" alt="clock" class="lazyload imghead">
                    <span class="position-absolute">24/7</span>
                </div>
                <p class="after-header__text text-left mb-0">
                    <strong>
                        Придем в то время, <br> в которое вам удобно!
                    </strong>
                </p>
            </div>
            <div class="col-4 text-center py-4 d-flex align-items-center justify-content-start quality">
                <div class="after-header__img mr-lg-4">
                    <img data-src="{{ root }}assets/img/shilt.png" src="{{ root }}assets/img/minimg/shilt.png" alt="shilt" class="lazyload imghead">
                    <span class="position-absolute">12</span>
                </div>
                <p class="after-header__text text-left mb-0">
                    <strong>
                        Предоставляем гарантию <br> 12 месяцев на работу!
                    </strong>
                </p>
            </div>
            <div class="col-4 text-center py-4 d-flex align-items-center justify-content-start quality">
                <div class="after-header__img mr-lg-4">
                    <img data-src="{{ root }}assets/img/users-2.png" src="{{ root }}assets/img/minimg/users-2.png" alt="clock" class="lazyload imghead">
                    <span class="position-absolute">400</span>
                </div>
                <p class="after-header__text text-left mb-0">
                    <strong>
                        Более 400 мастеров <br> работают с нами
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>