<div class="main-robot" style="background-image: url({{root}}assets/img/project-garant-bg.png);">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
				<p class="main-robot__title">
					Выгоды ремонта и установки стиральной
				</p>
			</div>
			<div class="col-xs-12 col-md-5 align-self-center text-center">
				<img src="{{ root }}assets/img/benefit.png" class="benefit-title ml-5 pb-5 lazyload hidden-xs hidden-sm" alt="svg">
				<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
				<img data-src="{{root}}assets/img/mobile/stir-benefit.png" src="{{ root }}assets/img/mobile/stir-benefit.png" class="lazyload" alt="svg">
			</p>
				
			</div>
			<div class="col-xs-12 col-md-7 pl-ms-0 pl-md-8 pl-lg-8 pl-xl-3 text-dark">
				<h1 class="h1 mb-4 ml-0 hidden-sm hidden-xs">
					<strong>
						Выгоды ремонта <br> и установки стиральной
					</strong>
				</h1>
				<p class="titlepod">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.

				</p>
				
			</div>
		</div>
	</div>
</div>
