<div class="benefit-product pt-5" >
	<div class="container">
		<div class="row">
			<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
				<p class="main-robot__title">Ремонт стиральной машины <br> Bosch WLK 2426 ZOE</p>
			</div>
			<div class="col-xs-12 col-md-5 align-self-center text-center">
				<img src="{{ root }}assets/img/stiralka.png" class="benefit-title mr-5 pb-5 lazyload hidden-xs hidden-sm" alt="svg">
				<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
					<img data-src="{{root}}assets/img/mobile/stir-mash.png" src="{{ root }}assets/img/mobile/stir-mash.png" class="lazyload" alt="svg">
				</p>
				
			</div>
			<div class="col-xs-12 col-md-7 pl-ms-0 pl-md-8 pl-lg-8 pl-xl-3 pb-3 text-dark">
				<h1 class="h1 mb-5 ml-0 hidden-sm hidden-xs">
				<strong>
				Ремонт стиральной машины <br> Bosch WLK 2426 ZOE
				
				</strong>
				</h1>
				<!--<div class="row m-0 mb-5">
						<a href="#" class="text-dark mr-3">Описание</a>
						<a href="#" class="text-dark mr-3">Характеристики</a>
						<a href="#" class="text-dark">Комплектация</a>
				</div>--><ul class="nav nav-pills mb-3 text-center pillsd" id="pills-tab" role="tablist">
				<li class="nav-item itemfz">
					<a class="nav-link linkpad active show" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Описание</a>
				</li>
				<li class="nav-item itemfz">
					<a class="nav-link linkpad" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Характеристики</a>
				</li>
				<li class="nav-item itemfz">
					<a class="nav-link linkpad" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Комплектация</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active mb-5" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Стиральная машина Bosch — само воплощение элегантности. Корпус часов выполнен из нержавеющей стали, а задняя панель - из керамического стекла. Защиту дисплея осуществляет сапфировое стекло.</div>
				<div class="tab-pane fade mb-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Стиральная машина Bosch — само воплощение элегантности. Корпус часов выполнен из нержавеющей стали, а задняя панель - из керамического стекла. Защиту дисплея осуществляет сапфировое стекло.</div>
				<div class="tab-pane fade mb-5" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Стиральная машина Bosch — само воплощение элегантности. Корпус часов выполнен из нержавеющей стали, а задняя панель - из керамического стекла. Защиту дисплея осуществляет сапфировое стекло.</div>
			</div>
			
			<button type="button" class="btn btn-primary btn-lg btn-block btnbenefit" data-toggle="modal" data-target="#modalForm">Отправте заявку</button>
			
		</div>
	</div>
</div>
</div>