<div class="cat-form pt-4">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 align-self-center text-center">
				<img src="{{root}}assets/img/form-img.png" class="ml-5 pt-3 lazyload hidden-xs hidden-sm cat-form__img" alt="svg">
				<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
					<img data-src="{{root}}assets/img/mobile/cat-form-mob.png" src="{{ root }}assets/img/mobile/cat-form-mob.png" class="lazyload" alt="svg">
				</p>
			</div>
			<div class="col-xs-12 col-md-5 align-self-center text-center cat-form__form">
				<p class="cat-form__title font-weight-bold">
					Отправьте заявку мы подберем подходящего мастера
				</p>
				<form>
					<div class="form-row">
						<div class="col-xs-12 col-md-6 cat-form__input cat-form__input--mr">
							<input type="text" class="form-control" placeholder="Номер телефона">
						</div>
						<div class="col cat-form__input cat-form__input--ml">
							<input type="text" class="form-control" placeholder="Ваш район или улица">
						</div>
						<div class="col-12 cat-form__area">
							<img class="paperclipimg hidden-xs hidden-sm" src="/assets/img/paper-clip.png" alt="svg">
							<textarea class="form-control" placeholder="Опишите задачу" rows="4"></textarea>
						</div>
						<div class="col-xs-12 col-md-6 cat-form__input cat-form__input--mr">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col cat-form__input cat-form__input--ml">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-lg btn-block hidden-xs hidden-md">
							Отправьте заявку
							</button>
							<button type="submit" class="btn btn-primary btn-lg btn-block hidden-md hidden-lg hidden-xl px-2">
							Начать бронирование
							</button>
						</div>
						<div class="col-12">
							<div class="form-check squaredFour">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheckcat">
								<label for="defaultCheckcat"></label>
								<label class="form-check-label" for="defaultCheckcat">
									Принимаю условия
									<a href="#" class="text-white">
										<u>пользовательского соглашения</u>
									</a>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>