<div class="contacts header--product">
	<div class="container production">
		<div class="row">
			<div class="col-12">
				<h1 class="h1 mb-5 mt-5 ml-0 text-center hidden-sm hidden-xs">
				<strong>
				Контакты
				</strong>
				</h1>
				<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
					<p class="main-robot__title">Контакты
					</p>
				</div>
			</div>
			<div class="col-6 hidden-xs hidden-sm">
				<img src="{{ root }}assets/img/maps.png" class="projectbg pt-1 lazyload " alt="svg">
			</div>
			<div class="col-12 col-md-6 text-dark font-weight-bold info__form">
				<div class="row">
					<div class="col-12 col-md-6 pb-2">
						<div class="card">
							<div class="card-body p-0 bodyali">
								<h5 class="card-title font-weight-bold">Адрес</h5>
								<p class="card-text contact">129430,г.Москва, Набережная 8, стр. 33, офис 404</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="card">
							<div class="card-body  p-0 bodyali">
								<h5 class="card-title font-weight-bold">Телефон</h5>
								<p class="card-text contact">+7 495 999 00 00 <br>8 800 990 10 10</p>
							</div>
						</div>
					</div>
				</div>
				<p class="info__form--title pt-5 pb-2 bodyali">
					Форма обратной связи
				</p>
				<form>
					<div class="form-row">
						<div class="col-12 col-md-6 padbot2">
							<input type="text" class="form-control" placeholder="Имя ">
						</div>
						<div class="col-12 col-md-6 padbot1">
							<input type="text" class="form-control" placeholder="E-mail">
						</div>
						<div class="col-12 opeshite">
							<textarea class="form-control" placeholder="Текст сообщения" rows="4">
							</textarea>
						</div>
						<div class="col-12 pt-2 texali">
							<button type="submit" class="btn btn-primary btame">
							Отправить
							</button>
						</div>
						<div class="col-12">
							<div class="form-check squaredFour">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 pb-5 hidden-md hidden-lg hidden-xl mapsmob">
				<img src="{{ root }}assets/img/mobile/contacts-mob.png" class="projectbg pt-1 lazyload" alt="svg">
			</div>
		</div>
	</div>
</div>