<div class="feedback">
    <div class="container">
        <div class="col-12 text-center hidden-md hidden-lg hidden-xl">
            <p class="main-robot__title">
                Отзывы
            </p>
        </div>
        <p class="feedback__title text-secondary text-center mb-8 hidden-sm hidden-xs">Отзывы</p>
        <div class="feedback__cards mb-6 row hidden-xs hidden-sm">
            <div class="col-sm-12 col-md-4 ">
                <div class="card text-center h-100 feedback__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <img src="{{root}}/assets/img/user1.png" class="card__avatar mb-4" alt="user1">
                        <p class="card__fio text-secondary mb-0">Ольга Керч</p>
                        <p class="card__position mb-4">Менеджер по продажам</p>
                        <p class="card__opisanie text-light-blue">Слово «ураган» произошло имени бога зла, Хурикана, в которого верят на некоторых островах Карибского бассейна.</p>
                        <a href="#" target="_blank" class="card__social twitter"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 feedback__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <img src="{{root}}/assets/img/user2.png" class="card__avatar mb-4" alt="user2">
                        <p class="card__fio text-secondary mb-0">Ким Тан Умы</p>
                        <p class="card__position mb-4">Менеджер по продажам</p>
                        <p class="card__opisanie text-light-blue">Если вы занимаетесь дизайном, то должны знать названия цветов magenta, sienna и Venetian red. Название этих трех цветов произошли от итальянских городов.</p>
                        <a href="#" target="_blank" class="card__social fb"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 feedback__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <img src="{{root}}/assets/img/user3.png" class="card__avatar mb-4" alt="user3">
                        <p class="card__fio text-secondary mb-0">Надежда Серебрякова</p>
                        <p class="card__position mb-4">Менеджер по продажам</p>
                        <p class="card__opisanie text-light-blue">Дотошные статистики подсчитали, что количество публичных извинений, принесенных знаменитостями, удвоилось с 1909 до 2002 года.</p>
                        <a href="#" target="_blank" class="card__social vk"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 hidden-md hidden-lg hidden-xl">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card text-center h-100 feedback__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <img src="{{root}}/assets/img/user1.png" class="card__avatar mb-4" alt="user1">
                                <p class="card__fio text-secondary mb-0">Ольга Керч</p>
                                <p class="card__position mb-4">Менеджер по продажам</p>
                                <p class="card__opisanie text-light-blue">Слово «ураган» произошло имени бога зла, Хурикана, в которого верят на некоторых островах Карибского бассейна.</p>
                                <a href="#" target="_blank" class="card__social twitter"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card text-center h-100 feedback__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <img src="{{root}}/assets/img/user2.png" class="card__avatar mb-4" alt="user2">
                                <p class="card__fio text-secondary mb-0">Ким Тан Умы</p>
                                <p class="card__position mb-4">Менеджер по продажам</p>
                                <p class="card__opisanie text-light-blue">Если вы занимаетесь дизайном, то должны знать названия цветов magenta, sienna и Venetian red. Название этих трех цветов произошли от итальянских городов.</p>
                                <a href="#" target="_blank" class="card__social fb"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card text-center h-100 feedback__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <img src="{{root}}/assets/img/user3.png" class="card__avatar mb-4" alt="user3">
                                <p class="card__fio text-secondary mb-0">Надежда Серебрякова</p>
                                <p class="card__position mb-4">Менеджер по продажам</p>
                                <p class="card__opisanie text-light-blue">Дотошные статистики подсчитали, что количество публичных извинений, принесенных знаменитостями, удвоилось с 1909 до 2002 года.</p>
                                <a href="#" target="_blank" class="card__social vk"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="d-flex justify-content-end position-relative feedback__buttons">
            <button type="button" class="btn btn-primary">Все отзывы</button>
            <button type="button" class="position-absolute feedback__add"></button>
        </div>
    </div>
</div>