<div class="firms">
	<div class="container">
		<div class="row justify-content-center">
			<p class="h2 w-100 text-center firms__title">
				Отремонтируем / устанавливаем бытовую технику!
			</p>
			
			<div class="row w-100 firms__fix-list hidden-xs hidden-sm">
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" style="height: 126px;">
						<img src="{{ root }}assets/img/bosch.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Bosch</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" style="height: 126px;">
						<img src="{{ root }}assets/img/whirlpool.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Whirlpool</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" style="height: 126px;">
						<img src="{{ root }}assets/img/indesit.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины indesit</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" style="height: 126px;">
						<img src="{{ root }}assets/img/ariston.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Ariston</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" style="height: 126px;">
						<img src="{{ root }}assets/img/bosch.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Bosch</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/bosch.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Bosch</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/whirlpool.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Whirlpool</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/indesit.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины indesit</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/ariston.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Ariston</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/bosch.png" class="" alt="">
					</div>
					<p>Стиральные <br> машины Bosch</p>
				</div>
				<div class="w-100 text-center btn-click my-5">
					<button type="button" class="btn btn-primary text-center">Посмотреть еще</button>
				</div>
			</div>
			
			<div class="mb-4 w-100 hidden-md hidden-lg hidden-xl">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="myCol w-100 d-flex flex-column text-center align-items-center justify-content-end h-auto">
								<div class="d-block my-7">
									<img src="{{ root }}assets/img/bosch.png" class="" alt="">
								</div>
								<p>Стиральные <br> машины Bosch</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="myCol w-100 d-flex flex-column text-center align-items-center justify-content-end h-auto">
								<div class="d-block my-7">
									<img src="{{ root }}assets/img/ariston.png" class="" alt="">
								</div>
								<p>Стиральные <br> машины Ariston</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="myCol w-100 d-flex flex-column text-center align-items-center justify-content-end h-auto">
								<div class="d-block my-7">
									<img src="{{ root }}assets/img/indesit.png" class="" alt="">
								</div>
								<p>Стиральные <br> машины indesit</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="myCol w-100 d-flex flex-column text-center align-items-center justify-content-end h-auto">
								<div class="d-block my-7">
									<img src="{{ root }}assets/img/whirlpool.png" class="" alt="">
								</div>
								<p>Стиральные <br> машины Whirlpool</p>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</div>