<div class="bg-seotext lazyload" data-src="{{root}}assets/img/seo-bg2.png">
	<div class="container">
		<div class="row-12 ">
			<p class="bg-seotext__title text-white">
				<strong>
				SEO текст
				</strong>
			</p>
			<p class="bg-seotext__content text-white">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
			</p>
		</div>
	</div>
</div>
<div class="bg-number lazyload" data-src="{{root}}assets/img/number.jpg">
	<div class="text-center">
		<img data-src="/assets/img/phone.png" src="{{ root }}assets/img/minimg/phone.png" class="lazyload" alt="svg">
	</div>
	<p class="text-center h1 text-white my-3">
		<strong>
		Позвоните сейчас и начните экономит время и деньги
		</strong>
	</p>
	<div class="mx-auto d-flex justify-content-center">
		<a href="callto:8(800)0000000" class="text-center bg-number-phone">
			8 (800) 000-00-00
		</a>
	</div>
</div>
<div class="bg-dark footer">
	<div class="container">
		<div class="row justify-content-between no-gutters">
			<div class="col-sm-12 col-md">
				<img class="footer__logo lazyload" src="{{ root }}assets/img/minimg/sovest.png" data-src="/assets/img/sovest.png" alt="svg"><br>
				<!--<img data-src="/assets/img/footer-number.png" class="lazyload">-->
				<div class="row hidden-xs hidden-sm">
					<img data-src="/assets/img/tel-gr.png" src="{{ root }}assets/img/minimg/tel-gr.png" class="lazyload telephone" alt="svg">
					<a class="font-weight-bold mt-1 telenumber" href="callto:8(800)0000000">
						8 (800) 000-00-00
					</a>
				</div>
			</div>
			<div class="col-sm-12 col-md mt-3 footer__menu">
				<ul class="list-unstyled text-small">
					<li class="mb-2">
						<a class="text-white h6" href="#">Сантехника</a>
					</li>
					<li class="mb-2">
						<a class="text-white h6" href="#">Электрика</a>
					</li>
					<li class="mb-2">
						<a class="text-white h6" href="#">Бытовая техника</a>
					</li>
				</ul>
			</div>
			<div class="col-md mt-3 hidden-xs hidden-sm hidden-md">
				<ul class="list-unstyled text-small">
					<li class="mb-2">
						<a class="text-white h6" href="#">Домашняя электроника</a>
					</li>
					<li class="mb-2">
						<a class="text-white h6" href="#">Сборка мебели</a>
					</li>
					<li class="mb-2">
						<a class="text-white h6" href="#">Авторемонт</a>
					</li>
				</ul>
			</div>
			<div class="col-md mt-3 hidden-xs hidden-sm">
				<ul class="list-unstyled text-small">
					<li class="text-muted h6 mb-1">ООО “Рога и Копыта”</li>
					<li class="text-muted h6 mb-1">ИНН: 3120000005423907</li>
					<li class="text-muted h6 mb-1">КПП: 3457234579790778</li>
				</ul>
			</div>
			<div class="col-12 d-flex justify-content-between py-3 mt-7 fast-footer">
				<ul class="list-unstyled text-small hidden-md hidden-lg hidden-xl">
					<li class="text-muted h6 mb-1">ООО “Рога и Копыта”</li>
					<li class="text-muted h6 mb-1">ИНН: 3120000005423907</li>
					<li class="text-muted h6 mb-1">КПП: 3457234579790778</li>
				</ul>
				<p class="text-muted hidden-xs hidden-sm">© 2018. Все права защищены.</p>
				<a href="#" class="text-muted hidden-xs hidden-sm">Политика конфиденциальности</a>
				<div class="text-muted footer-icons">
					<a href="#" class="mr-4">
						<img class="lazyload icon" data-src="/assets/img/vk-foot.png" src="{{ root }}assets/img/minimg/vk-foot.png" alt="svg">
					</a>
					<a href="#" class="mr-4">
						<img class="lazyload icon" data-src="/assets/img/fase-foot.png" src="{{ root }}assets/img/minimg/fase-foot.png" alt="svg">
					</a>
					<a href="#" class="mr-4">
						<img class="lazyload icon" data-src="/assets/img/teleg-foot.png" src="{{ root }}assets/img/minimg/teleg-foot.png" alt="svg">
					</a>
					<a href="#">
						<img class="lazyload icon" data-src="/assets/img/viber-foot.png" src="{{ root }}assets/img/minimg/viber-foot.png" alt="svg">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>