<div class="main-robot" style="background-image: url({{root}}assets/img/garantiya.png); background-position: center;">
	<div class="container">
		<div class="row">
			
			<div class="col-xs-12 col-md-8 pl-ms-0 pl-md-8 pl-lg-8 pl-xl-3 text-dark">
				<h1 class="h1 mb-4 ml-0 hidden-sm hidden-xs">
					<strong>
						Гарантия качества  наших услуг
					</strong>
				</h1>

				<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
				<p class="main-robot__title">Гарантия качества наших услуг</p>
			</div>
			<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
				<img data-src="{{root}}assets/img/mobile/garant-mob.png" src="{{ root }}assets/img/mobile/garant-mob.png" class="lazyload" alt="svg">
			</p>
				<p class="titlepod">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.

				</p>
				
			</div>
			
			<div class="col-xs-12 col-md-4 align-self-center text-center">
				<img src="{{ root }}assets/img/garant.png" class="ml-5 pt-3 lazyload hidden-xs hidden-sm" alt="svg">
				
			</div>
		</div>
	</div>
</div>
