<div class="header header--product lazyload px-sm-3 px-lg-0" >
	<div class="container topBanner">
		<div class="row">
			<div class="hidden-md hidden-lg hidden-xl collapse col-xs-12" id="navbarToggleExternalContent">
				<div class="p-4">
					<p>My mobile menu</p>
				</div>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__logo d-lg-block d-md-flex justify-content-md-center mb-md-5 mb-lg-0">
				<img data-src="/assets/img/product-sovest.png" class="hidden-sm hidden-xs lazyload" src="{{ root }}assets/img/product-sovest.png" alt="svg">
				<img data-src="/assets/img/mobile/2-layers.png" class="hidden-md hidden-lg hidden-xl lazyload" src="{{ root }}assets/img/minimg/2-layers.png" alt="svg"
				>

				<nav class="hidden-md hidden-lg hidden-xl navbar navbar-dark p-0 align-items-end">
					<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__city">
				<p class="text-dark mb-0">Ваш город</p>
				<p class="text-primary mb-0"><u>Москва</u></p>
			</div>
			<div class="col-lg col-md-6 col-ms-12 mr-lg-5 mr-md-0 topBanner__icon d-lg-block d-md-flex justify-content-md-center bordbott">
				<div class="d-inline-block">
					<div class="topBanner__icon--images">
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/mail-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mail-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/place-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/place-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/vk-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/vk-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/fase-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/fase-head.png" alt="svg">
						</a>
					</div>
					<a href="callto:+74950000000" class="text-dark mb-0 h4" style="margin-top: 6px">+7&nbsp;495&nbsp;000&nbsp;00&nbsp;00</a>
				</div>
			</div>
			<div class="col-lg col-md-6 text-right p-0 d-lg-block d-md-flex justify-content-md-center hidden-xs hidden-sm">
				<button class="btn btn-outline-primary btn-border" data-toggle="modal" data-target="#modalForm">
				Отправьте заявку
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid hidden-xs hidden-sm">
		<div class="row">
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Цены
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Услуги
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold">
					Контакты
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				
				<h1 class="h1 mb-5 mt-5 ml-0 text-center hidden-sm hidden-xs">
				<strong>
				Про гарантии
				</strong>
				</h1>
				<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
					<p class="main-robot__title">Про гарантии</p>
				</div>
			</div>
			
			<div class="col-12 pl-ms-0 pl-md-8 pl-lg-8 pl-xl-3 text-dark">
				<img src="{{ root }}assets/img/project-bg.png" class="projectbg mr-5 pt-1 lazyload hidden-xs hidden-sm" alt="svg">
				<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
				<img data-src="{{root}}assets/img/mobile/o-proj-mob.png" src="{{ root }}assets/img/mobile/o-proj-mob.png" class="lazyload" alt="svg">
			</p>
				
				<p class="titlepod">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
					Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.  Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.
				</p>
				<p class="titlepod">Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь.
					По дороге встретил текст рукопись. Она предупредила его: «В моей стране все 	переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный.
					Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на 	силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись.
				</p>
			</div>
		</div>
	</div>
</div>