<div class="header lazyload px-sm-3" style="background-image: url({{root}}assets/img/photo-bg-min.png);">
	<div class="container topBanner">
		<div class="row">

			<div class="hidden-md hidden-lg hidden-xl collapse col-xs-12" id="navbarToggleExternalContent">
				<div class="p-4">
					<p>My mobile menu</p>
				</div>
			</div>

			<div class="col-lg col-md-6 col-ms-12 topBanner__logo d-lg-block d-md-flex justify-content-md-center mb-md-5 mb-lg-0">
				<img data-src="/assets/img/2-layers.png" class="hidden-sm hidden-xs lazyload" src="{{ root }}assets/img/minimg/2-layers.png" alt="svg">

				<img data-src="/assets/img/mobile/2-layers.png" class="hidden-md hidden-lg hidden-xl lazyload" src="{{ root }}assets/img/minimg/2-layers.png" alt="svg">

				<nav class="hidden-md hidden-lg hidden-xl navbar navbar-dark p-0 align-items-end">
					<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</nav>

			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__city">
				<p class="text-white mb-0">Ваш город</p>
				<a href="#">
				<a href="javascript:void(0)" class="text-white mb-0" data-toggle="modal" data-target="#cityModal"><u>Москва</u></a>
			</a>
			</div>
			<div class="col-lg col-md-6 col-ms-12 mr-lg-5 mr-md-0 topBanner__icon d-lg-block d-md-flex justify-content-md-center">
				<div class="d-inline-block">
					<div class="topBanner__icon--images">
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/mail.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mobile/mail.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/place.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mobile/place.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/vk.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mobile/vk.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/fase.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mobile/fase.png" alt="svg">
						</a>
					</div>
					<a href="callto:+74950000000" class="text-white mb-0 h4" style="margin-top: 6px">+7&nbsp;495&nbsp;000&nbsp;00&nbsp;00</a>
				</div>
			</div>
			<div class="col-lg col-md-6 text-right p-0 d-lg-block d-md-flex justify-content-md-center hidden-xs hidden-sm"  data-toggle="modal" data-target="#modalForm">
				<button class="btn btn-outline-light btn-border" >
					Отправьте заявку
				</button>
			</div>
		</div>
	</div>
	<div class="container hidden-xs hidden-sm">
		<div class="row">
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-right-0 font-weight-bold border-right">
					Цены
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Услуги
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-left-0 font-weight-bold">
					Контакты
				</a>
			</div>
		</div>
	</div>

	<div class="container info hidden-sm hidden-xs">
		<div class="row">
			<div class="col-6 text-white">
				<p class="info__title">
					Ремонт бытовой техники <br>
					в Москве
				</p>
				<ul class="list-unstyled info__list">
						<li class="media">
							<img class="" src="{{ root }}assets/img/svet.png" alt="svg">
							<div class="media-body">
								<p>
									Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
							</p>
							</div>
					</li>
					<li class="media">
							<img class=""  src="{{ root }}assets/img/check.png" alt="svg">
							<div class="media-body">
								<p>
									Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
							</p>
							</div>
					</li>
					<li class="media">
							<img class="" src="{{ root }}assets/img/credit-card.png" alt="svg">
							<div class="media-body">
								<p>
									Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
							</p>
							</div>
					</li>
				</ul>
			</div>



			<div class="col-6 text-white info__form">

				<p class="info__form--title">
					Отправьте заявку мы подберем подходящего мастера
				</p>
				<form>
					<div class="form-row">
						<div class="col">
								<input type="text" class="form-control" placeholder="Номер телефона">
						</div>
						<div class="col">
							 <input type="text" class="form-control" placeholder="Ваш район или улица">
						</div>
						<div class="col-12">
							<img class="paperclipimg" src="/assets/img/paper-clip.png" alt="svg">
						<textarea class="form-control" placeholder="Опишите задачу" rows="4"></textarea>
						</div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-lg btn-block">
								Отправьте заявку
							</button>
						</div>
						<div class="col-12">
							<div class="form-check squaredFour">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
								<label for="defaultCheck1"></label>
								<label class="form-check-label" for="defaultCheck1">
										Принимаю условия 
										<a href="#" class="text-white">
											<u>пользовательского соглашения</u>
										</a>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container info hidden-md hidden-lg hidden-xl px-3">
		<form>
			<p class="info__title">
				Отправьте заявку мы подберем подходящего мастера
			</p>
			<div class="form-row">
				<input type="text" class="form-control border-primary" placeholder="Дата заезда (mm/dd/yyyy)">
				<input type="text" class="form-control border-primary" placeholder="Количество человек">
				<textarea class="form-control border-primary" placeholder="Ваш телефон" rows="4"></textarea>
				<button type="submit" class="btn btn-primary btn-lg btn-block">
					Начать бронирование
				</button>
				<div class="form-check squaredFour">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheckMobi">
					<label for="defaultCheckMobi"></label>
					<label class="form-check-label" for="defaultCheckMobi">
						Принимаю условия 
						<a href="#"><u>пользовательского соглашения</u></a>
					</label>
				</div>
			</div>
		</form>
	</div>
</div>
