<div class="howwework whatwedo lazyload" data-src="{{root}}assets/img/howwework-bg.jpg">
    <div class="container text-center">
        <p class="howwework__title text-white">
            Как мы работаем
        </p>
        <div class="whatwedo__fix-list row howwework__fix-list justify-content-center">
            <div class="myCol d-flex flex-column text-center align-items-center justify-content-end px-2">
                <img src="{{ root }}assets/img/svg/tel-w.svg" class="mb-5 tel" alt="svg">
                <p class="text-white">Вы оставили заявку <br> и мы свяжимся с вам</p>
            </div>
            <div class="myCol d-flex flex-column text-center align-items-center justify-content-end px-2">
                <img src="{{ root }}assets/img/svg/place.svg" class="mb-5 place" alt="svg">
                <p class="text-white">Мастер приезжает <br> в удобное для <br> Вас время</p>
            </div>
            <div class="myCol d-flex flex-column text-center align-items-center justify-content-end px-2">
                <img src="{{ root }}assets/img/svg/calc.svg" class="mb-5 calc" alt="svg">
                <p class="text-white">Диагностика и <br> оценка стоимости <br> ремонта</p>
            </div>
            <div class="myCol d-flex flex-column text-center align-items-center justify-content-end px-2">
                <img src="{{ root }}assets/img/svg/fix.svg" class="mb-5 fix" alt="svg">
                <p class="text-white">Проведение ремонта <br> или сервисного <br> обслуживания</p>
            </div>
            <div class="myCol d-flex flex-column text-center align-items-center justify-content-end px-2">
                <img src="{{ root }}assets/img/svg/V.svg" class="v mb-5" alt="svg">
                <p class="text-white">Прием выполненных <br> работ, рассчет, <br> гарантия</p>
            </div>
        </div>
    </div>
</div>