<div class="container main-robot">
	<div class="row">
		<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
			<p class="main-robot__title">Боль клиента</p>
		</div>
		<div class="col-xs-12 col-md-5 align-self-center text-left">
			<img data-src="{{root}}assets/img/brkn-robot.png" src="{{ root }}assets/img/minimg/brkn-robot.png" class="ml-5 lazyload hidden-xs hidden-sm" alt="svg">
			<p class="text-center mb-6 lazyload hidden-md hidden-lg hidden-xl">
				<img data-src="{{root}}assets/img/mobile/brkn-robot.png" src="{{ root }}assets/img/mobile/brkn-robot.png" class="lazyload" alt="svg">
			</p>
		</div>
		<div class="col-xs-12 col-md-7 pl-ms-0 pl-md-8 pl-lg-8 pl-xl-8 text-dark">
			<p class="h1 mb-4 ml-8 hidden-sm hidden-xs">
				<strong>
					Боль клиента
				</strong>
			</p>
			<ul class="list-unstyled">
					<li class="media mb-5">
					<img class="align-self-center mr-4 lazyload" src="{{ root }}assets/img/minimg/svet-2.png" data-src="{{root}}assets/img/svet-2.png" alt="svg">
					<div class="media-body">
				    	<p class="m-0">
				    		Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
						</p>
					</div>
				</li>
				<li class="media mb-5">
					<img class="align-self-center mr-4 lazyload" src="{{ root }}assets/img/minimg/check-2.png" data-src="{{root}}assets/img/check-2.png" alt="svg">
					<div class="media-body">
				    	<p class="m-0">
				    		Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
						</p>
					</div>
				</li>
				<li class="media">
					<img class="align-self-center mr-4 lazyload" src="{{ root }}assets/img/minimg/credit-card-2.png" data-src="{{root}}assets/img/credit-card-2.png" alt="svg">
					<div class="media-body">
				    	<p class="m-0">
				    		Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>