<div class="manufacturer">
	<div class="container">
		<div class="col-12 pt-4 text-center hidden-md hidden-lg hidden-xl">
			<p class="main-robot__title">
				Блок типа производителей
			</p>
		</div>
		<div class="row justify-content-center">
			<p class="h2 w-100 text-center manufacturer__title hidden-sm hidden-xs">
				Блок типа производителей
			</p>
			
			<div class="row w-100 pt-3 manufacturer__fix-list hidden-xs hidden-sm">
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLK 2426 ZOE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLK 2426 ZOE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLK 2426 ZOE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-0" >
						<img src="{{ root }}assets/img/block.png" class="" alt="">
					</div>
					<div class="caption font-weight-bold">
						<p>Стиральная машина <br> Bosch WLL 24266 OE</p>
					</div>
				</div>
				<div class="w-100 text-center btn-click my-5">
					<button type="button" class="btn btn-primary text-center">Посмотреть еще</button>
				</div>
			</div>
			<div class="row w-100 py-3 hidden-md hidden-lg hidden-xl">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="d-flex flex-column text-center align-items-center justify-content-end">
								<div class="d-flex align-items-center mb-0" >
									<img src="{{ root }}assets/img/block.png" class="" alt="">
								</div>
								<div class="caption font-weight-bold">
									<p class="m-0">
										<small>
											Стиральная машина Bosch WLL 24267 OE
										</small>
									</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="d-flex flex-column text-center align-items-center justify-content-end">
								<div class="d-flex align-items-center mb-0" >
									<img src="{{ root }}assets/img/block.png" class="" alt="">
								</div>
								<div class="caption font-weight-bold">
									<p class="m-0">
										<small>
											Стиральная машина Bosch WLL 24266 OE
										</small>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</div>