<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="background-color: #629fd1">
			<div class="modal-header bornon">
				<h5 class="modal-title titlemodalka">Отправьте заявку мы подберем подходящего мастера</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="col">
							<input type="text" class="form-control" placeholder="Номер телефона">
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="Ваш район или улица">
						</div>
						<div class="col-12 pt-3">
							
							<textarea class="form-control" placeholder="Опишите задачу" rows="4"></textarea>
						</div>
						<div class="col-12 pt-3 pb-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block btnmodal">
							Отправьте заявку
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>