<div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modalcol pt-2 pb-2 pl-3">
        <h5 class="modal-title titlemodal">Выбирете свой город</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form class="col-12 col-md-6 pt-3 pl-3">
        <div class="form-group formmodalka">
          <input type="email" class="form-control formtitle" id="exampleInputEmail1" placeholder="Введите название своего города">
        </div>
      </form>
  
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col p-0">
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Москва</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Санкт-Петербург</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Нижний Новгород</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Екатеринбург</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Челябинск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Краснодар</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Пермь
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Воронеж</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Самара</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Казань</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Александров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Анапа</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ангарск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Арзамас</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Архангельск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Астрахань</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Балабаново</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Балашиха</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Барнаул</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Белгород</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Березники</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Бийск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Благовещенск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Брянск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Бузулук</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Великий Новгород
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Владивосток</p></a>
            </div>
            <div class="col p-0">
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Владикавказ</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Владимир</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Волгоград</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Волжский</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Вологда</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Воскресенск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Выкса</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Вязники</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Гороховец</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Гусь-Хрустальный
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Дзержинск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Дмитров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Домодедово</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Дубна</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Егорьевск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Железнодорожный
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Жуковский</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Зеленоград</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Иваново</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ижевск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Иркутск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Йошкар-Ола
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Калуга</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Кашира</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Кимры</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Киров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Клин</p></a>
            </div>
            <div class="col p-0">
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ковров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Коломна</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Королев</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Костомукша</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Кострома</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Красногорск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Красноярск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Кунгур</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Курган</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Курск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Липецк</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Люберцы</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Магнитогорск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Малоярославец</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Миасс</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Мичуринск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Мурманск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Муром</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Мытищи</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Набережные Челны
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Наро-Фоминск
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Нефтеюганск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Нижнекамск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Нижний Тагил
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Новокузнецк</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Новомосковск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Новороссийск</p></a>
            </div>
            <div class="col p-0">
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Орёл</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Пенза</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Петрозаводск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Подольск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Покров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Псков</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Пушкино</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Пятигорск
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Раменское</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Реутов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ржев</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Россошь</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ростов-на-Дону
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Рыбинск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Рязань</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Салехард</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Саранск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Саратов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Саров</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Свердловский
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Сергиев Посад
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Серов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Серпухов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Симферополь</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Смоленск</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Собинка</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Солнечногорск</p></a>
            </div>
            <div class="col p-0">
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Старый Оскол
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ступино</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Сургут</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Сыктывкар</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Таганрог</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Тамбов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Тверь</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Темрюк</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Тольятти</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Троицк</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Тула</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Тюмень</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ульяновск
              </p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Уфа</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Фрязино</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Химки</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Чайковский</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Чебоксары</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Череповец</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Чехов</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Шатура</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Шахты</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Щелково</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Электросталь</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ялта</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Ярославль</p></a>
              <a href="#"><p class="m-0 text-dark font-weight-bold" style="font-size: 14px">Другой город</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
