<div class="orders lazyload" data-src="{{root}}assets/img/customer-orders.jpg">
	<div class="container">
		<div class="row pb-5">
			<p class="h1 orders__title text-center text-secondary mb-3 pb-2 col-12">
				<strong>
					Недавние заказы наших клиентов
				</strong>
			</p>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="col-12 d-flex justify-content-between align-items-center bg-primary mb-6 position-relative rounded-top rounded-right p-3 text-white customer">
							<div class="px-4 customer_one">
								<p class="orders-title h6 hidden-xs hidden-sm">
									<strong>
										Отремонтировать стиральную машину
									</strong>
								</p>
								<p class="orders-text mb-0 hidden-md hidden-lg hidden-xl">
									<strong>
										Отремонтировать машину
									</strong>
								</p>
								<p class="orders-text mb-0">
									Ребенок понажимал кнопки и сломалась машина, теперь стирать нечем.
								</p>
							</div>
							<img class="lazyload hidden-xs hidden-sm" data-src="/assets/img/automat.png" src="{{ root }}assets/img/minimg/automat.png" alt="svg">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-12 d-flex justify-content-between align-items-center bg-primary mb-6 position-relative rounded-top rounded-right p-3 text-white customer">
							<div class="px-4 customer_one">
								<p class="orders-title h6 hidden-xs hidden-sm">
									<strong>
										Отремонтировать швейную машину
									</strong>
								</p>
								<p class="orders-text mb-0 hidden-md hidden-lg hidden-xl">
									<strong>
										Отремонтировать машину
									</strong>
								</p>
								<p class="orders-text mb-0">
									Ребенок понажимал кнопки и сломалась машина, теперь стирать нечем.
								</p>
							</div>
							<img class="lazyload hidden-xs hidden-sm" data-src="/assets/img/automat.png" src="{{ root }}assets/img/minimg/automat.png" alt="svg">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-12 d-flex justify-content-between align-items-center bg-primary mb-6 position-relative rounded-top rounded-right p-3 text-white customer">
							<div class="px-4 customer_one">
								<p class="orders-title h6 hidden-xs hidden-sm">
									<strong>
										Отремонтировать холодильную машину
									</strong>
								</p>
								<p class="orders-text mb-0 hidden-md hidden-lg hidden-xl">
									<strong>
										Отремонтировать машину
									</strong>
								</p>
								<p class="orders-text mb-0">
									Ребенок понажимал кнопки и сломалась машина, теперь стирать нечем.
								</p>
							</div>
							<img class="lazyload hidden-xs hidden-sm" data-src="/assets/img/automat.png" src="{{ root }}assets/img/minimg/automat.png" alt="svg">
						</div>
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
</div>