<div class="price-list lazyload" data-src="{{root}}assets/img/bg-card.png">
  <div class="container">
    <p class="price-list__title">
      <strong>
        Цены на ремонт и установку <br>
        бытовой техники работаем
      </strong>
    </p>
    <div class="row">
       <div class="col-xs-12 mb-5 col-xl-6 mb-xl-0">
        <div class="card rounded">
          <div class="card-body text-center p-0">
            <div class="bg-info p-3 rounded-top border-primary border-bottom">
              <img data-src="/assets/img/remont.png" src="{{ root }}assets/img/minimg/remont.png" class="lazyload" alt="svg">
            </div>
            <p class="card-title">Ремонт бытовой техники</p>
            <table class="table table-borderless text-left price-list-table">
              <tbody>
                <tr>
                  <td>Ремонт стиральных машин</td>
                  <td class="hidden-xs hidden-sm">2 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>2 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ремонт водонагревателя</td>
                  <td class="hidden-xs hidden-sm">1 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>1 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ремонт посудомоечной машины</td>
                  <td class="hidden-xs hidden-sm">200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ремонт стиральных машин</td>
                  <td class="hidden-xs hidden-sm">2 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>2 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ремонт водонагревателя</td>
                  <td class="hidden-xs hidden-sm">1 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>1 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Ремонт посудомоечной машины</td>
                  <td class="hidden-xs hidden-sm">200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>200₽</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <hr class="border-primary">
            <button type="button" class="btn btn-outline-primary mt-2 mb-4 price-list-price-btn" data-toggle="modal" data-target="#modalForm">
              Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 mb-5 col-xl-6 mb-xl-0">
         <div class="card rounded">
          <div class="card-body text-center p-0">
            <div class="bg-info p-3 rounded-top border-primary border-bottom">
              <img data-src="/assets/img/remont.png" src="{{ root }}assets/img/minimg/remont.png" class="lazyload" alt="svg">
            </div>
            <p class="card-title">Установка бытовой техники</p>
            <table class="table table-borderless text-left price-list-table">
              <tbody>
                <tr>
                  <td>Установка стиральных машин</td>
                  <td class="hidden-xs hidden-sm">2 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>2 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Установка и подключение водонагревателя</td>
                  <td class="hidden-xs hidden-sm">1 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>1 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Установка посудомоечной машины</td>
                  <td class="hidden-xs hidden-sm">200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Установка стиральных машин</td>
                  <td class="hidden-xs hidden-sm">2 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>2 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Установка и подключение водонагревателя</td>
                  <td class="hidden-xs hidden-sm">1 200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>1 200₽</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Установка посудомоечной машины</td>
                  <td class="hidden-xs hidden-sm">200₽</td>
                </tr>
                <tr class="hidden-md hidden-lg hidden-xl">
                  <td>200₽</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <hr class="border-primary">
            <button type="button" class="btn btn-outline-primary mt-2 mb-4 price-list-price-btn" data-toggle="modal" data-target="#modalForm">
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>