<div class="header header--product lazyload px-sm-3 px-lg-0" >
	<div class="container topBanner">
		<div class="row">
			<div class="hidden-md hidden-lg hidden-xl collapse col-xs-12" id="navbarToggleExternalContent">
				<div class="p-4">
					<p>My mobile menu</p>
				</div>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__logo d-lg-block d-md-flex justify-content-md-center mb-md-5 mb-lg-0">
				<img data-src="/assets/img/product-sovest.png" class="hidden-sm hidden-xs lazyload" src="{{ root }}assets/img/product-sovest.png" alt="svg">
				<img data-src="/assets/img/mobile/2-layers.png" class="hidden-md hidden-lg hidden-xl lazyload" src="{{ root }}assets/img/minimg/2-layers.png" alt="svg">
				<nav class="hidden-md hidden-lg hidden-xl navbar navbar-dark p-0 align-items-end">
					<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__city">
				<p class="text-dark mb-0">Ваш город</p>
				<a href="javascript:void(0)" class="text-primary mb-0" data-toggle="modal" data-target="#cityModal"><u>Москва</u></a>
			</div>
			<div class="col-lg col-md-6 col-ms-12 mr-lg-5 mr-md-0 topBanner__icon d-lg-block d-md-flex justify-content-md-center">
				<div class="d-inline-block">
					<div class="topBanner__icon--images">
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/mail-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mail-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/place-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/place-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/vk-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/vk-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/fase-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/fase-head.png" alt="svg">
						</a>
					</div>
					<a href="callto:+74950000000" class="text-dark mb-0 h4" style="margin-top: 6px">+7&nbsp;495&nbsp;000&nbsp;00&nbsp;00</a>
				</div>
			</div>
			<div class="col-lg col-md-6 text-right p-0 d-lg-block d-md-flex justify-content-md-center hidden-xs hidden-sm">
				<button class="btn btn-outline-primary btn-border" data-toggle="modal" data-target="#modalForm">
				Отправьте заявку
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid hidden-xs hidden-sm">
		<div class="row">
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Цены
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Услуги
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold">
					Контакты
				</a>
			</div>
		</div>
	</div>
	<div class="container production">
		<div class="row">
			<div class="col-12">
				
				<h1 class="h1 mb-8 mt-5 ml-0 text-center hidden-sm hidden-xs">
				<strong>
				Вопросы и ответы
				</strong>
				</h1>
				<div class="col-12 text-center hidden-md hidden-lg hidden-xl">
					<p class="main-robot__title">Вопросы и ответы</p>
				</div>
			</div>
			<div class="w-100">
				<ul class="nav nav-pills mb-4 border-0 text-center pillsmar" id="pills-tab" role="tablist">
					<li class="nav-item itemamed mr-7">
						<a class="nav-link active show" id="pills-home-tab"
							data-toggle="pill"
							href="#obshie-quest"
							role="tab"
							aria-selected="true">
							Общие вопросы
						</a>
					</li>
					<li class="nav-item itemamed mr-7">
						<a class="nav-link"
							id="pills-profile-tab"
							data-toggle="pill"
							href="#faq"
							role="tab"
							aria-selected="false">
							Частные вопросы
						</a>
					</li>
					<li class="nav-item itemamed">
						<a class="nav-link"
							id="pills-contact-tab"
							data-toggle="pill"
							href="#pills-contact"
							role="tab"
							aria-selected="false">
							Глупые вопросы
						</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade" id="faq" aria-labelledby="pills-profile-tab">
						<div class="accordion accordion__pd" id="accordionExample">
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingOne">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link text-dark font-weight-bold w-100 text-left py-3 px-4 btnmob"
									type="button"
									data-toggle="collapse"
									data-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne">
									Что значит сломалась машина? Не сливает воду и не гладит билье123123
									</button>
									</h5>
								</div>
								<div id="collapseOne"
									class="collapse"
									aria-labelledby="headingOne"
									data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за с123123123 123 123ловесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingTwo">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob"
									type="button"
									data-toggle="collapse"
									data-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo">
									Что значит сломалась машина 123123 123 ? Не сливает воду и не гладит билье
									</button>
									</h5>
								</div>
								<div id="collapseTwo"
									class="collapse"
									aria-labelledby="headingTwo"
									data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за сло12 3123 12 3весными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingThree">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Что значит сломалась машина? Не 123 123 12сливает воду и не гладит билье
									</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за словесными го12 31 23рами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show active" id="obshie-quest" aria-labelledby="pills-home-tab">
						<div class="accordion accordion__pd" id="accordionExample">
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingOne">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link text-dark font-weight-bold w-100 text-left py-3 px-4 btnmob"
									type="button"
									data-toggle="collapse"
									data-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne">
									Что значит сломалась машина? Не сливает воду и не гладит билье
									</button>
									</h5>
								</div>
								<div id="collapseOne"
									class="collapse"
									aria-labelledby="headingOne"
									data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingTwo">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob"
									type="button"
									data-toggle="collapse"
									data-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo">
									Что значит сломалась машина? Не сливает воду и не гладит билье
									</button>
									</h5>
								</div>
								<div id="collapseTwo"
									class="collapse"
									aria-labelledby="headingTwo"
									data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
							<div class="card question-card mb-3">
								<div class="card-header p-0" id="headingThree">
									<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
									<h5 class="mb-0">
									<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Что значит сломалась машина? Не сливает воду и не гладит билье
									</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body cardtitle">
										Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-contact" aria-labelledby="pills-home-tab">
							<div class="accordion accordion__pd" id="accordionExample">
								<div class="card question-card mb-3">
									<div class="card-header p-0" id="headingOne">
										<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
										<h5 class="mb-0">
										<button class="btn btn-link text-dark font-weight-bold w-100 text-left py-3 px-4 btnmob"
										type="button"
										data-toggle="collapse"
										data-target="#collapseOne"
										aria-expanded="true"
										aria-controls="collapseOne">
										Что значит сломалась машина? Не сливает воду и не гладит билье
										</button>
										</h5>
									</div>
									<div id="collapseOne"
										class="collapse"
										aria-labelledby="headingOne"
										data-parent="#accordionExample">
										<div class="card-body cardtitle">
											Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
										</div>
									</div>
								</div>
								<div class="card question-card mb-3">
									<div class="card-header p-0" id="headingTwo">
										<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
										<h5 class="mb-0">
										<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob"
										type="button"
										data-toggle="collapse"
										data-target="#collapseTwo"
										aria-expanded="false"
										aria-controls="collapseTwo">
										Что значит сломалась машина? Не сливает воду и не гладит билье
										</button>
										</h5>
									</div>
									<div id="collapseTwo"
										class="collapse"
										aria-labelledby="headingTwo"
										data-parent="#accordionExample">
										<div class="card-body cardtitle">
											Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
										</div>
									</div>
								</div>
								<div class="card question-card mb-3">
									<div class="card-header p-0" id="headingThree">
										<img class="iconquestion" src="{{ root }}assets/img/iconvniz.png" alt="svg">
										<h5 class="mb-0">
										<button class="btn btn-link collapsed text-dark font-weight-bold w-100 text-left py-3 px-4  btnmob" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Что значит сломалась машина? Не сливает воду и не гладит билье
										</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body cardtitle">
											Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="footer-title hidden-md hidden-lg hidden-xl">
						<p class="mb-1">
							Не нашли ответа на свой вопрос?
						</p>
						<p class="footer-titlepod">Свяжитесь с нами, и мы предоставим необходимую информацию.</p>
					</div>
					<div class="cnopka mb-5 hidden-md hidden-lg hidden-xl">
						<button type="button" class="btn btn-primary rasmer">Задать вопрос</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>