<div class="question lazyload" data-src="{{root}}assets/img/question.jpg">
	<div class="container" style="max-width: 950px">
		<div class="row">
			<p class="h1 text-center text-white col-12 question__title">
				<strong>
					Вопросы от клиентов
				</strong>
			</p>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="col-10 d-flex justify-content-between align-items-center position-relative rounded-top rounded-right px-3 py-4 text-white issues">
							<div class="issues_one">
								<p class="issues-title text-dark font-weight-bold h5 mb-1">
									Виталя:
								</p>
								<p class="issues-text text-dark">
									Здравствуйте. Машинка стала выбивать пакетник при стирке в ц60 градусов, а при 40 нет.<br>
									Ранее небыло такого
								</p>
							</div>
						</div>
		
						<div class="offset-2 col-10 d-flex justify-content-between align-items-center mb-6 position-relative rounded-top rounded-left p-3 text-white answer">
							<div class="issues_one">
								<h5 class="answer-title text-dark font-weight-bold">
									Мастер:
								</h5>
								<p class="answer-text text-dark">
									Добрый день! Исходя из Вашего описания неисправности, могу лишь предположить <br>
									что неисправен замок/крючок двери или неисправен модуль управления.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-10 d-flex justify-content-between align-items-center position-relative rounded-top rounded-right px-3 py-4 text-white issues">
							<div class="issues_one">
								<p class="issues-title text-dark font-weight-bold h5 mb-1">
									Виталя:
								</p>
								<p class="issues-text text-dark">
									Здравствуйте. Машинка стала выбивать пакетник при стирке в ц60 градусов, а при 40 нет.<br>
									Ранее небыло такого
								</p>
							</div>
						</div>

						<div class="offset-2 col-10 d-flex justify-content-between align-items-center mb-6 position-relative rounded-top rounded-left p-3 text-white answer">
							<div class="issues_one">
								<p class="answer-title text-dark font-weight-bold h5">
									Мастер:
								</p>
								<p class="answer-text text-dark">
									Добрый день! Исходя из Вашего описания неисправности, могу лишь предположить <br>
									что неисправен замок/крючок двери или неисправен модуль управления.
								</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="col-10 d-flex position-relative rounded-top rounded-right px-3 py-4 text-white issues">
							<div class="issues_one">
								<p class="issues-title text-dark font-weight-bold h5 mb-1">
									Виталя:
								</p>
								<p class="issues-text text-dark">
									Здравствуйте. Машинка стала выбивать пакетник при стирке в ц60 градусов, а при 40 нет.<br>
									Ранее небыло такого
								</p>
							</div>
						</div>
			
						<div class="offset-2 col-10 d-flex justify-content-between align-items-center mb-6 position-relative rounded-top rounded-left p-3 text-white answer">
							<div class="issues_one">
								<p class="answer-title text-dark font-weight-bold h5">
									Мастер:
								</p>
								<p class="answer-text text-dark">
									Добрый день! Исходя из Вашего описания неисправности, могу лишь предположить <br>
									что неисправен замок/крючок двери или неисправен модуль управления.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<div class="text-center button-wrap hidden-xs hidden-sm">
				<a href="#" class="btn btn-question text-center px-0">
					Задать вопрос
				</a>
			</div>
		</div>
	</div>
</div>