<div class="repairing">
	<div class="container">
		<div class="row justify-content-center">
			<p class="h2 w-100 text-center repairing__title pt-5">
				Что ремонтируем
			</p>
			
			<div class="row w-100 pt-3 repairing__fix-list hidden-xs hidden-sm">
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5 justify-content-end">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center mb-5">
					<div class="d-flex align-items-center mb-0" style="">
					</div>
					<div class="card" style="width: 16rem; height: 9rem ">
						<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
						
						<div class="card-body">
							
							<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
							
						</div>
					</div>
					
				</div>
				<div class="text-center w-100">
					<p class="fact">Первый подоходный налог был введен в Китае в 10 году нашей эры, <br> и составлял 10% от заработка квалифицированного ремесленника.</p>
				</div>
				
				
			</div>
			<div class="row w-100 hidden-md hidden-lg hidden-xl">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="d-flex flex-column text-center align-items-center py-6">
								<div class="d-flex align-items-center mb-0" style="">
								</div>
								<div class="card">
									<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
									
									<div class="card-body">
										
										<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
										
									</div>
								</div>
								
							</div>
						</div>
						<div class="swiper-slide">
							<div class="d-flex flex-column text-center align-items-center py-6">
								<div class="d-flex align-items-center mb-0" style="">
								</div>
								<div class="card">
									<img src="{{ root }}assets/img/cluch.png" class="cardimg" alt="">
									
									<div class="card-body">
										
										<p class="card-text mt-4">Замена петель на люке. <br> Средняя цена за ремонт <br> 1000 р.</p>
										
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
	</div>
</div>