<div class="video-call">
    <div class="container">
        <div class="col-12 text-center hidden-md hidden-lg hidden-xl">
            <p class="main-robot__title">
                Видео отзывы
            </p>
        </div>
        <p class="video-call__title text-secondary text-center mb-5 mt-5 hidden-sm hidden-xs">Видео отзывы</p>
        <div class="video-call__cards mb-5 row hidden-xs hidden-sm">
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video3.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call1.png" class="card__avatar position-absolute" alt="user1">
                        </div>
                        <p class="card__position mb-4">Евгений Мальцев</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video2.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call2.png" class="card__avatar position-absolute" alt="user2">
                        </div>
                        <p class="card__position mb-4">Марина Земельцева</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video1.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call3.png" class="card__avatar position-absolute" alt="user3">
                        </div>
                        <p class="card__position mb-4">Марина Некрасова</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video3.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call1.png" class="card__avatar position-absolute" alt="user1">
                        </div>
                        <p class="card__position mb-4">Евгений Мальцев</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video2.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call2.png" class="card__avatar position-absolute" alt="user2">
                        </div>
                        <p class="card__position mb-4">Марина Земельцева</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-center h-100 video-call__card">
                    <div class="card-body d-flex align-items-center flex-column">
                        <div class="video-call__img">
                            <img src="/assets/img/video1.jpg" class="video-bg" alt="svg">
                            <img src="{{root}}/assets/img/photo-call3.png" class="card__avatar position-absolute" alt="user3">
                        </div>
                        <p class="card__position mb-4">Марина Некрасова</p>
                        <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 hidden-md hidden-lg hidden-xl">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card text-center h-100 video-call__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <div class="video-call__img">
                                    <img src="/assets/img/video3.jpg" class="video-bg" alt="svg">
                                    <img src="{{root}}/assets/img/photo-call1.png" class="card__avatar position-absolute" alt="user1">
                                </div>
                                <p class="card__position mb-4">Евгений Мальцев</p>
                                <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card text-center h-100 video-call__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <div class="video-call__img">
                                    <img src="/assets/img/video2.jpg" class="video-bg" alt="svg">
                                    <img src="{{root}}/assets/img/photo-call2.png" class="card__avatar position-absolute" alt="user2">
                                </div>
                                <p class="card__position mb-4">Марина Земельцева</p>
                                <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card text-center h-100 video-call__card">
                            <div class="card-body d-flex align-items-center flex-column">
                                <div class="video-call__img">
                                    <img src="/assets/img/video1.jpg" class="video-bg" alt="svg">
                                    <img src="{{root}}/assets/img/photo-call3.png" class="card__avatar position-absolute" alt="user3">
                                </div>
                                <p class="card__position mb-4">Марина Некрасова</p>
                                <p class="card__opisanie font-weight-bold text-dark">Стройка загородного дома <br> в поселке Краево</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="d-flex justify-content-end position-relative feedback__buttons">
            <button type="button" class="btn btn-primary">Все отзывы</button>
            <button type="button" class="position-absolute feedback__add"></button>
        </div>
    </div>
</div>