<div class="header header--product lazyload px-sm-3 px-lg-0" >
	<div class="container topBanner">
		<div class="row">
			<div class="hidden-md hidden-lg hidden-xl collapse col-xs-12" id="navbarToggleExternalContent">
				<div class="p-4">
					<p>My mobile menu</p>
				</div>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__logo d-lg-block d-md-flex justify-content-md-center mb-md-5 mb-lg-0">
				<img data-src="/assets/img/product-sovest.png" class="hidden-sm hidden-xs lazyload" src="{{ root }}assets/img/product-sovest.png" alt="svg">
				<img data-src="/assets/img/mobile/2-layers.png" class="hidden-md hidden-lg hidden-xl lazyload" src="{{ root }}assets/img/minimg/2-layers.png" alt="svg">
				<nav class="hidden-md hidden-lg hidden-xl navbar navbar-dark p-0 align-items-end">
					<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
				</nav>
			</div>
			<div class="col-lg col-md-6 col-ms-12 topBanner__city">
				<p class="text-dark mb-0">Ваш город</p>
				<a href="javascript:void(0)" class="text-primary mb-0" data-toggle="modal" data-target="#cityModal"><u>Москва</u></a>
			</div>
			<div class="col-lg col-md-6 col-ms-12 mr-lg-5 mr-md-0 topBanner__icon d-lg-block d-md-flex justify-content-md-center">
				<div class="d-inline-block">
					<div class="topBanner__icon--images">
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/mail-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/mail-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/place-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/place-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/vk-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/vk-head.png" alt="svg">
						</a>
						<a href="#">
							<img class="icon hidden-xs hidden-sm" src="{{ root }}assets/img/fase-head.png" alt="svg">
							<img class="icon hidden-md hidden-lg hidden-xl" src="{{ root }}assets/img/fase-head.png" alt="svg">
						</a>
					</div>
					<a href="callto:+74950000000" class="text-dark mb-0 h4" style="margin-top: 6px">+7&nbsp;495&nbsp;000&nbsp;00&nbsp;00</a>
				</div>
			</div>
			<div class="col-lg col-md-6 text-right p-0 d-lg-block d-md-flex justify-content-md-center hidden-xs hidden-sm">
				<button class="btn btn-outline-primary btn-border" data-toggle="modal" data-target="#modalForm">
				Отправьте заявку
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid hidden-xs hidden-sm">
		<div class="row">
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Цены
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold border-right">
					Услуги
				</a>
			</div>
			<div class="col p-0">
				<a href="#" class="btn btn-light-blue py-2 btn-lg w-100 text-white rounded-0 font-weight-bold">
					Контакты
				</a>
			</div>
		</div>
	</div>
	<div class="specialists mb-2">
		<div class="container production">
			<p class="h1 text-center text-secondary">
				<strong>
				Наши специалисты
				</strong>
			</p>
			<div class="row">
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-1.png" src="{{ root }}assets/img/minimg/special-1.png" alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
				Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-2.png" src="{{ root }}assets/img/minimg/special-2.png" alt="svg">
						<div class="card-body ">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
	Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" src="{{ root }}assets/img/minimg/special-3.png" data-src="/assets/img/special-3.png"  alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
							Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-1.png" src="{{ root }}assets/img/minimg/special-1.png" alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
				Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-2.png" src="{{ root }}assets/img/minimg/special-2.png" alt="svg">
						<div class="card-body ">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
	Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" src="{{ root }}assets/img/minimg/special-3.png" data-src="/assets/img/special-3.png"  alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
							Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-1.png" src="{{ root }}assets/img/minimg/special-1.png" alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
				Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" data-src="/assets/img/special-2.png" src="{{ root }}assets/img/minimg/special-2.png" alt="svg">
						<div class="card-body ">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
	Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 p-0">
					<div class="card w-100 pt-5 text-center mx-auto">
						<img class="card-img-top mx-auto mb-2 lazyload imgmobile" src="{{ root }}assets/img/minimg/special-3.png" data-src="/assets/img/special-3.png"  alt="svg">
						<div class="card-body">
							<h5 class="card-title font-weight-bold text-center text-secondary titleamed">
							Сергей Лапшин
							</h5>
							<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1 textamed">
								ремонт стиральных машин и посудомоечных машин
							</p>
							<a href="#" class="btn btn-primary btnamed text-center" data-toggle="modal" data-target="#modalForm">
								Заказать
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg col-md-6 pt-5 text-center p-0 d-lg-block d-md-flex justify-content-md-center hidden-xs hidden-sm">
				<button class="btn btn-outline-primary btn-border btncolor">
				Показать еще
				</button>
			</div>
		</div>
	</div>
</div>