<div class="specialists mb-2">
	<div class="container">
		<p class="h1 text-center text-secondary">
			<strong>
			 Специалисты сервиса "НА СОВЕСТЬ”
			</strong>
		</p>
		<div class="row">
			<div class="col">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="card w-100 text-center mx-auto">
								<img class="card-img-top mx-auto mb-2 lazyload" data-src="/assets/img/special-1.png" src="{{ root }}assets/img/minimg/special-1.png" alt="svg">
								<div class="card-body">
									<h5 class="card-title font-weight-bold text-center text-secondary">
										Сергей Лапшин
									</h5>
									<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1">
										ремонт стиральных машин и посудомоечных машин
									</p>
									<a href="#" class="btn btn-primary text-center" data-toggle="modal" data-target="#modalForm">
										Заказать
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card w-100 text-center mx-auto">

								<img class="card-img-top mx-auto mb-2 lazyload" data-src="/assets/img/special-2.png" src="{{ root }}assets/img/minimg/special-2.png" alt="svg">

								<div class="card-body ">
									<h5 class="card-title font-weight-bold text-center text-secondary">
										Сергей Кай
									</h5>
									<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1">
										ремонт стиральных машин и посудомоечных машин
									</p>
									<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
										Заказать
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card w-100 text-center mx-auto">


								<img class="card-img-top mx-auto mb-2 lazyload" src="{{ root }}assets/img/minimg/special-3.png" data-src="/assets/img/special-3.png"  alt="svg">

								<div class="card-body">
									<h5 class="card-title font-weight-bold text-center text-secondary">
										Марина Безродова
									</h5>
									<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1">
										ремонт стиральных машин и посудомоечных машин
									</p>
									<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
										Заказать
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card w-100 text-center mx-auto">

								<img class="card-img-top mx-auto mb-2 lazyload" data-src="{{root}}assets/img/special-2.png" src="{{root}}assets/img/minimg/special-2.png" alt="svg">

								<div class="card-body ">
									<h5 class="card-title font-weight-bold text-center text-secondary">
										Сергей Кай
									</h5>
									<p class="card-text text-center text-light-blue h6 lh-165 mb-2 pb-1">
										ремонт стиральных машин и посудомоечных машин
									</p>
									<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
										Заказать
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>	
			</div>
		</div>
	</div>
</div>

