<div class="whatwedo bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<p class="h2 w-100 text-center whatwedo__title">
				Отремонтируем / устанавливим бытовую технику!
			</p>
			<p class="whatwedo__subtitle text-light-blue">
				Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
			</p>
			<div class="row w-100 whatwedo__fix-list hidden-sm hidden-xs">
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix01.svg" class="" alt="svg">
					</div>
					<p>Стиральные <br> машины</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix02.svg" class="" alt="svg">
					</div>
					<p>Холодильники <br> и морозильные камеры</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix03.svg" class="" alt="svg">
					</div>
					<p>Посудомоечные <br> машины</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix04.svg" class="" alt="svg">
					</div>
					<p>Электрические плиты <br> и панели</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix05.svg" class="" alt="svg">
					</div>
					<p>Газовые плиты</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix06.svg" class="" alt="svg">
					</div>
					<p>Посудомоечные <br> машины</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix07.svg" class="" alt="svg">
					</div>
					<p>Духовые шкафы</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix08.svg" class="" alt="svg">
					</div>
					<p>Вытяжки</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix09.svg" class="" alt="svg">
					</div>
					<p>Водонагреватели, <br> бойлеры, котлы, колонки</p>
				</div>
				<div class="myCol d-flex flex-column text-center align-items-center justify-content-end">
					<div class="d-flex align-items-center mb-3" style="height: 126px;">
						<img src="{{ root }}assets/img/svg/fix10.svg" class="" alt="svg">
					</div>
					<p>Швейные <br> машины</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="whatwedoMobile bg-light hidden-md hidden-lg hidden-xl">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix01.svg" class="" alt="svg">
					</div>
					<p>Стиральные <br> машины</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix02.svg" class="" alt="svg">
					</div>
					<p>Холодильники <br> и морозильные камеры</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix03.svg" class="mb-5" alt="svg">
					</div>
					<p>Посудомоечные <br> машины</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix04.svg" class="mb-5" alt="svg">
					</div>
					<p>Электрические плиты <br> и панели</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix05.svg" class="mb-3" alt="svg">
					</div>
					<p class="one-string">Газовые плиты</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix06.svg" class="" alt="svg">
					</div>
					<p>Посудомоечные <br> машины</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix07.svg" class="" alt="svg">
					</div>
					<p class="one-string">Духовые шкафы</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix08.svg" class="" alt="svg">
					</div>
					<p class="one-string">Вытяжки</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix09.svg" class="" alt="svg">
					</div>
					<p>Водонагреватели, <br> бойлеры, котлы, колонки</p>
				</div>
			</div>
			<div class="swiper-slide">
				<div
					class="d-flex flex-column text-center align-items-center justify-content-end">
					<div class="slide-img">
						<img src="{{ root }}assets/img/svg/fix10.svg" class="" alt="svg">
					</div>
					<p>Швейные <br> машины</p>
				</div>
			</div>
		</div>
		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>
