.btnmob{
	white-space: normal;
	padding: 0.5rem 50px 0.5rem 0.5rem !important;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400 !important;
	line-height: 18px;
}

.accordion{
	&__pd{
    padding: 0 1rem;
	}
}

.cardtitle{
	font-size: 12px;
font-weight: 400;
line-height: 18px;
}

.itemamed{
	margin: 0 !important;
	font-size: 10px;
}

.pillsmar{
	 padding: 0 1rem;
}

.footer-title{
	padding: 0 1rem;
	font-size: 12px;


font-weight: 700;
letter-spacing: 0.3px;
}

.footer-titlepod{
	font-weight: 400;
letter-spacing: 0.3px;
}

.cnopka{
	display: flex;
	justify-content: center;
}

.rasmer{
	width: 283px;
height: 52px;
border-radius: 7px;
padding: 0.5rem;
}