.bg-seotext {
	padding: 27px 16px;

	&__title {
		font-size: 20px;
		margin-bottom: 24px;
	}

	&__content {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.25;
		margin-bottom: 0;
		text-align: left !important;
	}
}

.bg-number{
	padding: 23px 16px 43px;

	img {
		width: 54px;
		height: 54px;
	}

	.h1 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 18px !important;
	}

	&-phone {
		font-size: 28px;
		padding: 8px 26px;
		display: inline-block;
		white-space: nowrap;
		
		&:hover {
			color: white;
		}
	}
}

.footer {
	padding-top: 17px;

	&__logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	&__menu {
		text-align: center;
		margin-top: 0 !important;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -15px;
			width: calc(100% + 30px);
			height: 1px;
			background-color: #80909c;
		}
	}

	.fast-footer {
		margin-top: 0 !important;
		display: block !important;
		text-align: center;
		padding-bottom: 17px;
		border: none;

		ul, .footer-icons {
			width: 100%;
		}
	}
}