.header {
	background-image: unset !important;
	background-color: white;

	&::before {
		display: none;
	}

	.topBanner {
		&__logo {
			display: flex;
			justify-content: space-between;
			margin-bottom: 18px;
			padding-left: 1rem;
			padding-right: 1rem;

			.navbar-toggler-icon {
				color: red;
				background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#629fd1' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
			}

			img {
				height: 44px;
				width: 198px;
			}
		}

		&__city {
			align-items: center;
			display: flex;
			justify-content: center;

			p:first-child {
				margin-top: 0;
				margin-right: 10px;
				color: #474d56 !important;
			}

			p:last-child {
				color: #629fd1 !important;
			}
		}

		&__icon {
			text-align: center;
			margin-top: 24px;

			a {
				color: #3c434c !important;
				font-size: 35px;
				font-weight: bold;
			}
		}
	}

	.info {
		padding-top: 9px;

		&__title {
			color: #50565e;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			text-align: center;
			margin-bottom: 24px;
		}

		input, textarea {
			border-width: 1px;
			margin-bottom: 24px;
			font-family: Lato;
			font-size: 16px;
			font-weight: 400;
			color: #495057;
			text-align: center;

			&::placeholder {
				color: #80909c;
			}
		}

		button[type="submit"] {
			line-height: 1;
			padding-top: 19px;
			padding-bottom: 17px;
			border: none;
			margin-bottom: 20px;
		}
	}
}