.howwework {
    background-position: center;
    padding-top: 26px;
    padding-bottom: 0;

    &__title {
        font-size: 20px;
        line-height: 1.95;
        margin-bottom: 27px;
    }

    &__fix-list {

        .myCol {

            width: calc( 100% / 3 );

            &:nth-last-of-type(-n+2) {
                width: 50%;
            }
            
            &:after {
                top: -2em;
                right: calc(50% - 5em);
                font-size: 8px;
                width: 21px;
                height: 21px;
            }

            .tel {
                width: 24px !important;
                height: 42px !important;
                margin-bottom: 1.5rem !important;
            }

            .place {
                width: 28px !important;
                height: 41px !important;
                margin-bottom: 1.5rem !important;
            }
            
            .calc {
                width: 32px !important;
                height: 40px !important;
                margin-bottom: 1.5rem !important;
            }
            
            .fix {
                width: 37px !important;
                height: 37px !important;
                margin-bottom: 1.5rem !important;
            }
            
            .v {
                width: 32px !important;
                height: 33px !important;
                margin-bottom: 1.5rem !important;
            }
        }
    }
}