.main-robot {
	padding-top: 26px;
	padding-bottom: 10px;

	&__title {
		color: #3c434c;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 35px;
	}

	.media {
		margin-bottom: 32px !important;

		p {
			font-size: 16px;
		}
	}
}