.orders {
	padding-top: 27px;
	padding-bottom: 10px;

	&__title {
		font-size: 20px;
		line-height: 1.5;
		padding: 0 16px !important;
		margin-bottom: 20px !important;
	}

	.row.pb-5 {
		padding-bottom: 0 !important;
	}
}