.price-list {
	padding-top: 27px;
	padding-bottom: 15px;

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.card {
		max-width: 500px;
		margin: 0 auto;

		.bg-info {
			padding: 0.5rem !important;

			img {
				width: 46px;
				height: 46px;
			}
		}

		&-title {
			font-size: 18px;
			line-height: 15.1px;
			margin-top: 23px;
			margin-bottom: 25px;
		}
	}

	&-table {
		width: calc(100% - 2rem);
		margin: 0 1rem;

		td {
			text-align: center !important;
			font-size: 14px;
			padding-bottom: 0;
		}

		tr.hidden-xl td {
			font-weight: bold;
			padding-bottom: 1rem;
			font-size: 16px;
		}
	}
}