.question {
	padding-top: 27px;
	padding-bottom: 17px;

	&__title {
		padding: 0;
		margin-bottom: 17px;
		font-size: 20px;
		line-height: 1.5;
	}

	.swiper-container {
		height: 400px;
		width: 100%;

		@media screen and (max-width: 625px) {
			height: 500px;
		}

		@media screen and (max-width: 425px) {
			height: 600px;
		}

		.issues, .answer {
			&-title {
				font-size: 16px;
			}

			&-text {
				font-size: 16px;
				margin-bottom: 0;

				br {
					display: none;
				}
			}
		}

		.swiper-slide-next {
			opacity: 0;
			transition: opacity 200ms ease-out;
		}
	}
}