.specialists {
	padding-top: 27px;
	padding-bottom: 27px;

	.h1 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 28px;
	}

	.swiper-slide {
		.card {
			&-title {
				font-size: 18px;
				margin-bottom: 19px;
			}

			&-text {
				font-size: 16px;
				max-width: 300px;
				margin: 0 auto 28px;
			}
		}
	}
}