.whatwedo {
	&__title {
		color: #3c434d;
		font-size: 20px;
		font-weight: 700;
		padding-top: 27px;
		margin-bottom: 27px;
	}

	&__subtitle {
		color: #80909c;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.25;
		margin-bottom: 30px;
	}

	&.howwework .whatwedo__fix-list p {
		font-size: 12px;
		font-weight: 400;
		height: 76px;
		max-width: 150px;
		margin-bottom: 25px;
	}
}

.whatwedoMobile {

	padding-bottom: 10px;
	
	.swiper-container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.slide-img {
		height: 130px;
		display: flex;
		align-items: flex-end;
		margin-bottom: 15px;

		img {
			margin-bottom: 0 !important;
		}
	}

	.swiper-button-next, .swiper-button-prev {
		width: 15px;
		height: 17px;
		background-size: 100% 100%;
	}

	.swiper-button-prev {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		left: 5px;
	}

	.swiper-button-next {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		right: 5px;
	}

	.swiper-slide {
		p {
			max-width: 200px;

			br {
				display: none;
			}
		}
	}
}