.active.show.nav-link {
    background: none;
    border-bottom: 2px solid #629fd1;
    border-radius: 0;
    color: black;
}

.nav-link{
	color: #80909c;
}

// .card-header{
// 	border: 1px solid #629fd1;
//     border-radius: 5px;
//     background-color: #e8f0f8;
// }

.btn-link {
	text-decoration: none !important;
}

.question-card {

	border-radius: 0.5rem !important;
	border: 1px solid #629fd1 !important;
	background-color: #e8f0f8;
	transition: all 250ms ease;

	&.accordion-miracle-show {
		background-color: transparent;

		.iconquestion {
			transform: rotate(0deg);
		}
	}

	.card-header {
		background-color: transparent;
	}

	&--active {
		background-color: transparent;
	}
}

.iconquestion{
	position: absolute;
    right: 25px;
    top: 20px;
    transition: all 250ms ease-out;
    transform: rotate(180deg);
}