.feedback {
	&__buttons {
		justify-content: center !important;
		padding-top: 75px;
	}

	&__add {
		top: 0;
		transform: translateX(-50%);
	}

	.swiper-container {
		padding: 0 25px;
		
		.swiper-button-next, .swiper-button-prev {
			width: 15px;
			height: 17px;
			background-size: 100% 100%;
		}

		.swiper-button-prev {
			left: 0;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		}

		.swiper-button-next {
			right: 0;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		}

		.card {
			&__fio {
				font-size: 16px;
			}

			&__position {
				font-size: 14px;
			}

			&__opisanie {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.video-call, .firms, .repairing, .manufacturer, {
	.swiper-container {
		padding: 0 25px;
		
		.swiper-button-next, .swiper-button-prev {
			width: 15px;
			height: 17px;
			background-size: 100% 100%;
		}

		.swiper-button-prev {
			left: 0;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		}

		.swiper-button-next {
			right: 0;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2380909c'%2F%3E%3C%2Fsvg%3E");
		}

		.card {
			&__fio {
				font-size: 16px;
			}

			&__position {
				font-size: 14px;
			}

			&__opisanie {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}