.itemfz{
	
	 @media screen and (max-width: 460px){
	 	font-size: 12px;
	 }
}

.pillsd{

	 @media screen and (max-width: 850px){
	display: flex;
    justify-content: center;
}
}

.linkpad{
@media screen and (max-width: 370px){
padding-left: 7px;
padding-right: 7px;
}

}