.production{
	position: relative;
	padding-top: 1.5rem !important;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4px;
		background: #629fd1;


	}

	.titlemob{
		font-size: 20px;
	}
	
}

.form-control{
	text-align: center;
}