<!doctype html>
<html class="no-js" lang="ru" style="font-size: 16px;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
  </head>
  <body>

    {{> body}}

    {{> modal}}

    {{> modal-form}}

    
    <link rel="stylesheet" href="{{root}}styles.css" async>
    <link async rel="stylesheet" href="{{root}}assets/css/adaptive.css" media="(max-width: 850px)">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.2/js/swiper.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>